
.title{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    text-align: center;
    position: relative;
}
#main-title{
    font-size: 80px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size-adjust: inherit;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 50px;
    
}
#logo{
    margin: all;
    width:50%;
    height: 130px;
    background: url(/assets/pngwing.com.png)no-repeat right;
    float: left;
    margin-right: 50px;
}

.nav-menu li{
    font-size: 18px;
    font-weight: bold;
    display: inline;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
    position: static;
    align-content: center;
}

.resume{
    font-size: 25px;
    font-weight: bold;
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 20px;
    position: static;
    text-align: center;
    padding-left: 30px;
}

.main{
    font-size: 25px;
    display: inline;
    padding-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 150px;
    position: static;
}

#m-text{
    padding-left: 20px;
}
#m-text2{
    padding-left: 20px;
}
#s-text{
    padding-left: 20px;
}
#s-text2{
    padding-left: 20px;
}

.images{
    margin-left: 150px;
    margin-right: 150px;
    
}

.second{
    font-size: 25px;
    display: inline;
    padding-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 150px;
    position: static;
}

.random-pic{
    border-left: #333;
}

.footer{
    margin-top: 100px;
    text-align: center;
    position: sticky ;
}

#random-pic{
   margin-left: 80px;
   position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 285px;
}

#taza{
    margin-left: 80px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 185px;
}